body {
    font-family: 'Titillium Web', sans-serif;
}

h1 {font-size: 65px; font-weight: 600; line-height: 100px; text-shadow: black 1px 0 10px;}

p {
    font-size: 20px;
    color: #999999;
    line-height: 1.8;
    margin-bottom: 0;
}

.topmargin-xs {margin-top: 15px;}
.topmargin-sm {margin-top: 30px;}
.topmargin-lg {margin-top: 60px;}

.btn {
    font-size: 20px;
    font-weight: 600;
    padding: 10px 20px;
    min-width: 80px;
    border-radius: 2px;
    display: inline-block;
}

.btn-light {
    background-color: #ffffff;
    color: #1a1a1a;
    border: 2px solid #ffffff;
}

ion-icon { 
    vertical-align: sub;
    --ionicon-stroke-width: 45px;
}

ion-icon:hover,
ion-icon:focus {
    cursor: pointer;
    background: yellow;
}

.navbar{ 
    background-color: #aee8f7;
    box-shadow: 0 6px 6px 0 rgba(120, 0, 0, 0.3);
    min-height: 100px;
    font-size: 25px; 
    font-weight: 600
}

.nav-link{ color: #ac0d0d;}
.nav-link:hover{ color: #eb3a1b;}

.logo-brand{ 
    min-width: 120px;
    max-width: 120px;
}

.navbar-toggler { font-size: 40px; }
.navbar-toggler:focus { outline: none; }

#hero {
    background-image: url('imagenes/hero.jpeg');
    background-size: cover;
    padding-top: 200px;
    min-height: 900px;
    color: #ffffff;
}


#hero-p {
    font-size: 30px;
    color: #ffffff;
    text-shadow: 2px 2px 2px black;
    font-weight: 600
}

.content-center {
    max-width: 800px;
    margin: 0 auto 60px auto;
    text-align: center;
}